.os {
  color: #56CEFF;
}

.claim {
  color: #78FF56;
}

.left {
  text-align: left;
}

.todo {
  background-color: #800;
}

img {
  border: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.imageframe {
  height: 100%;
  position: relative;
}